<div class="section-copy">
	<div class="container">

		<p>Founders & Coders C.I.C. is a not-for-profit social enterprise and co-operative of freelance web developers. Our aim is to improve the quality and accessibility of technical education everywhere. We are doing this by building a sustainable and repeatable model for high quality technical training.</p>

		<p>We provide what is probably the best training in web development in the UK and we don't charge our students anything. We we generate income by placing our graduate and some of our graduates stay on and join our freelance agency or start companies of their own.</p>

		<p>We have trained more than 100 novices in full-stack JavaScript. In addition to the intensive programme, we also run the Meetup group Coding for Everyone, aimed at supporting anyone with an interest in coding. Coding for Everyone has reached well over a thousand members. On our full-time courses, typically 40% of our students are female and many are from backgrounds underrepresented in the tech industry. 100% of the graduates of our most recent programme are working as web-developers.</p>

		<p>Nikhila Ravi, says:</p>

		<p>"The Founders and coders course is easily one of the best things I've ever done... I have learnt more useful practical knowledge in sixteen weeks than in a whole year at university."</p>

		<p>We have transformed the lives of many individuals through our educational programmes. One year ago, Besart Hoxhaj was working for less than minimum wage as a waiter in East London. Now Besart is leading a team to build a native iOS application, using React Native. We want to continue to unlock latent potential in individuals like Bes.</p>

		<p>By partnering with us we can transform the lives of many individuals. <a onclick="fac.nav_scroll('/partners/', 'contact')">Get in touch</a></p>

	</div>
</div>
