	<div class="section-landing">
		<h1>Become a software developer</h1>
		<p>Founders & Coders runs the UK's leading training in software development.</p>
		<button class="button-three">APPLY</button>
	</div>

		<div class="marketing-section">
			<div>
				<h1>Founders & Coders is setting a standard in education. We run the most complete course in software development in the UK without charging our students anything. We are showing the world that elite education should not only be accessible to those that can afford to pay for it.</h1>

				<h1>We select on technical talent, capacity for hard work and desire to have a positive impact on the world. Everything we do is designed to help you towards becoming an exceptional software developer.</h1>

				<h1>We aim for 100% of our graduates to be earning a living in software development. We manage this by partnering with companies such as Stack Overflow, 8th Light and The Guardian. </p>
				</p>
			</div>
		</div>

		<div class="testimonial-container">


			<div class="testimonial-section">
					<i class="icon-left-open-big"></i>
					<div class="testimonial">
						<p class="test"><span>"</span>Hands down the best experience of my life.<span>"</span></p>
						<a href="https://github.com/NataliaLKB" target="_blank"><div class="team-image-grid natalia"></div></a>
						<p class="name">Natalia Baltazar</p>
						<p>Developer at the Guardian</p>
					</div>
					<i class="icon-right-open-big"></i>
			</div>



			<div class="sponsor-section">
					<img src="./assets/switch_logo.png"/>
					<img src="./assets/course-report-logo.png"/>
					<img src="./assets/observer.png"/>
					<img src="./assets/Forbes_logo.svg"/>
			</div>
		</div>

		<div class="apply-section">
			<button class="button-one">Testimonials</button>
			<button class="button-three">Apply</button>
			<button class="button-one">Curriculum</button>
		</div>
</div>
